#root {
    max-width: 375px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 52px 0px rgba(16,32,209,1);
    -moz-box-shadow: 0px 10px 52px 0px rgba(16,32,209,1);
    box-shadow: 0px 10px 52px 0px rgba(16,32,209,1);
    border-radius: 10px;
    margin-top: 150px;
}

.home {
    padding: 0 20px;
    height: 730px;
}
* {
    font-family: 'NanumSquare';
}
h1, h2, h3, h4, h5 {
    font-family: 'NanumSquare';
    font-weight: 700;
}
p, span {
    font-family: 'NanumSquare';
}