html, body, div, span, a, p, ul, li, h1, code, nav {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: inherit;
    font: inherit;
    text-decoration: inherit;
    text-align: inherit;
    color: inherit;
    background: transparent;
  }
  
  /*pass window height (w/o scroll bars) down to react app, note can't use vh becasue that
  includes scroll bars and mobile browser footer, etc so doesn't give viewable area*/
  
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  html {
    background-color: white;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  table {
    border-collapse: separate;
    td {
      padding-top: 5%;
      padding-left: 10%;
      /* default is vertical-align: middle; */
    }
  }
  
  #root {
    background-color: white;
    min-height: 100%;
  }
  
  #first {
    background-color: skyblue;
    color: white;
    width: 120pt;
    height: 90pt;
    text-align: center;
    border-radius: 10px;
  }
  
  #second {
    background-color: #FF9786;
    color: white;
    width: 120pt;
    height: 90pt;
    margin-left: 160pt;
    text-align-last: center;
  }
  
  #blogmenu {
    position: fixed;
    ul {
      background-color: rgb(235, 235, 235);
      list-style-type: none;
      height: 82.5pt;
      width: 100%;
      li {
        display: inline;
      }
    }
    a {
      font-family: HiraginoSans-W5;
      font-size: 10px;
      letter-spacing: .1pt;
      padding: 0 33.7pt 0 33.7pt;
      color: rgb(170, 170, 170);
      text-align: center;
      vertical-align: middle;
      height: 82.5pt;
      width: 100%;
      &:hover {
        vertical-align: middle;
        color: rgb(255, 151, 134);
      }
    }
  }
  
  .icon {
    color: rgb(170, 170, 170);
    font-size: 20px;
  }
  
  /*required for IE/Edge to be compatible with left:50vw & transform:translate(-50%, 0),
  otherwise there is a phantom div on the right side of the screen (from the left:50vw),
  that the window will scroll to. Note the left:50vw and transform is used to center content
  horizaontally based on vw to prevent content jump when vertical scroll bar show/hide.*/
  
  body {
    overflow-x: hidden;
  }