// Cleaning using skel
@import 'ruucm/libs/skel';
@include skel-breakpoints((
  xlarge: '(max-width: 1680px)',
  large: '(max-width: 1280px)',
  medium: '(max-width: 980px)',
  small: '(max-width: 736px)',
  xsmall: '(max-width: 480px)',
  xxsmall: '(max-width: 360px)'
));


@include skel-layout((
  reset: 'full',
  boxModel: 'border',
));

// Ruucm Mixins
@import "libs/bourbon/bourbon";
@import 'libs/ruucm-mixins';

// Bootstrap Grid Only
$enable-flex:               true;
$enable-grid-classes:       true;



@import 'ruucm/bootstrap/scss/functions';
@import 'ruucm/bootstrap/scss/variables';
@import 'ruucm/bootstrap/scss/mixins';
@import 'ruucm/bootstrap/scss/grid';


@import 'base/fonts';

@import 'app';
@import 'components/header';
@import 'components/bottom-nav';
@import 'components/headicon';

// Sections
@import 'components/section-01';
@import 'components/section-02';
@import 'components/section-03';


