.section-03 {
  margin-top: 45px;
  .font {
         font-size: 16px !important;
         p {
             margin-top: 15px;
         }
  }
  .areachart {
      margin-top: 30px;
      .recharts-wrapper {
          // background: red;
          border-radius: 8px;
          border: 1px solid rgb(235, 235, 235);
      }
      .recharts-cartesian-axis-ticks {
          display: none;
      }
      .xAxis {
          display: none;
      }
  }
}